<!DOCTYPE html>
<html id="master" lang="pt-Br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="../Template/img/favicon.ico" />
	<title>Senai</title> <!-- Config -->
	<script src="../Template/js/main.js" defer></script>
	<link rel="stylesheet" href="../Template/css/theme.css">
	<link rel="stylesheet" href="../Template/css/style.css">
	<link rel="stylesheet" href="css/aula-1/add-style.css">
	<link rel="stylesheet" href="../Template/bibliotecas/fancybox/fancybox.css"> <!-- JQuery-->
	<script type="text/javascript" src="../Template/bibliotecas/jQuery-3.6.3/jquery-3.6.3.min.js"></script>
	<!-- Bootstrap -->
	<link href="../Template/bibliotecas/bootstrap/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap Icons -->
	<link href="../Template/bibliotecas/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> <!-- UiKit-->
	<link href="../Template/bibliotecas/uikit/css/uikit.min.css" rel="stylesheet" />
	<script src="../Template/bibliotecas/uikit/js/uikit.min.js" async></script>
	<script src="../Template/bibliotecas/uikit/js/uikit-icons.min.js" async></script> <!-- BoxIcons -->
	<link href="../Template/bibliotecas/boxicons/css/boxicons.min.css" rel='stylesheet'>
	<script src="../Template/bibliotecas/boxicons/boxicons.js" defer></script> <!-- GOOGLE TRANSLATE -->
	<script src="../Template/js/google.js" type="text/javascript" defer></script> <!-- Grafico -->
	<script src="../Template/bibliotecas/charts/chart.js"></script> <!-- SCORM -->
	<script src="../Template/scorm/APIWrapper.js"></script>
	<script src="../Template/scorm/SCOFunctions.js"></script> <!-- Prism -->
	<script src="../Template/bibliotecas/prism/js/prism.js"></script>
	<link href="../Template/bibliotecas/prism/css/prism.css" rel='stylesheet'> <!-- BoxIcons -->
	<script src="../Template/bibliotecas/boxicons/boxicons.js"></script>
	<link href="../Template/bibliotecas/boxicons/css/boxicons.min.css" rel='stylesheet'> <!-- VIDEO DO YOUTUBE -->
	<script src="../Template/js/menu.js"></script>
</head>

<body onunload="unloadPage()">
	<header>
		<div id="google_translate_element"></div>
		<!-- Vlibras -->
		<div vw class="enabled">
			<div id="vlibras-show" vw-access-button class="#"></div>
			<div vw-plugin-wrapper>
				<div class="vw-plugin-top-wrapper"></div>
			</div>
		</div>
		<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
		<script>      new window.VLibras.Widget('https://vlibras.gov.br/app');    </script>
		<!-- Menu -->
		<nav class="navbar-dark bg-menu-color fixed-top nav-height">
			<div class="d-flex bd-highlight align-items-center g-4 nav-height">
				<div class="bd-highlight">
					<button class="btn align-items-center ms-2" data-bs-toggle="offcanvas"
						data-bs-target="#nav-menu-open-close" aria-controls="nav-menu-open-close" aria-label="Menu"
						title="Menu">
						<i class='cor1 bx bx-menu bx-tada-hover'></i> </button>
				</div>
				<div class="bd-highlight mx-auto">
					<object class="d-none d-lg-block img-fluid" style="margin-left:130px; max-width:180px"
						data="../Template/img/logo_senai.svg" type="image/svg+xml" alt="SENAI" title="SENAI">
					</object>
					<object class="d-md-block d-lg-none" style="margin-top: 5px;max-width: 130px;"
						data="../Template/img/logo_senai.svg" type="image/svg+xml" alt="SENAI" title="SENAI">
					</object>
				</div>
				<div class="bd-highlight">
					<div class="d-flex bd-highlight align-items-center nav-height">
						<div class="form-check form-check-inline switch-group" role="button" title="Temas">
							<input class="form-check-input d-none" type="checkbox" name="themeBtns" id="themeSwitcher"
								role="Toogle Temas">
							<label class="form-check-label" for="themeSwitcher">
								<div class="switch-darkmode">
									<div class="icons"> <i class='bx bx-moon bx-tada-hover'></i> <i
											class='bx bx-sun bx-spin-hover' style="color: aliceblue;"></i> </div>
									<div class="circle"></div>
								</div>
							</label>
						</div>
						<div class=" d-flex flex-row align-middle ms-2 me-2" onclick="vlibrashow()" role="Vlibras"
							title="Vlibras"> <i class='vlibras-show bx bx-universal-access' style="font-size:2rem"></i>
							<span class="ms-1 me-1 d-none d-lg-block menu" style="margin-top: 3px;"></span>
						</div>
						<div class="dropdown me-2">
							<button class="btn text-white me-2" type="button" id="Acessibilidade" title="Configurações"
								data-bs-toggle="dropdown" aria-expanded="false" aria-label="Configurações">
								<i class='bx bx-cog bx-spin-hover bx-sm'></i>
							</button>
							<ul class="dropdown-menu dropdown-menu-dark menu-margin" aria-labelledby="Acessibilidade">
								<li class="dropdown-item" data-translate="acessibilidade">
									<strong>Acessibilidade</strong>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li> <a class="dropdown-item">
										<div class="mb-3 form-check form-switch">
											<input class="form-check-input " type="checkbox" name="themeBtns"
												id="graySwitcher" role="Modo monocromatico">
											<label class="form-check-label menu" for="graySwitcher"
												data-translate="thema-linguagem-3">Modo Monocromatico</label>
										</div>
									</a> </li>
								<li> <a class="dropdown-item">
										<div class="mb-3 form-check form-switch">
											<input class="form-check-input" type="checkbox" name="themeBtns"
												id="daltonicSwitcher" role="Modo Daltônico">
											<label class="form-check-label menu" for="daltonicSwitcher"
												data-translate="thema-linguagem-4">Modo
												Daltônico</label>
										</div>
									</a> </li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li class="dropdown-item"> <span class="menu" data-translate="tamanho-da-fonte">Tamanho
										da Fonte</span> <br> <input type="range" class="form-range" min="50" max="115"
										step="5" id="size"> </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="offcanvas offcanvas-start" data-bs-backdrop="true" data-bs-backdrop="static" tabindex="-1"
				id="nav-menu-open-close" aria-labelledby="staticBackdropLabel">
				<div class="offcanvas-header bg-menu-color">
					<p class="offcanvas-title" id="staticBackdropLabel">Menu</p> <button type="button"
						class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body ">
					<h3> <a href="../../index_pt-br.html"> <i class="bi bi-house"></i> Início</a> </h3>
					<!-- Menu -->
					<nav id="navbar-menu" class="flex-column align-items-stretch pe-4 my-5">
						<nav class="nav nav-pills flex-column">
							<div uk-accordion>
								<!-- 1 -->
								<li>
									<a class="nav-link uk-accordion-title">
										<i class="bi bi-pin-fill"></i>
										Módulo 1
									</a>
									<div class="uk-accordion-content">
										<div class="nav nav-pills flex-column">
											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="1de1_pt-br.html#capa">Transição da
														matriz energética</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li> <a class="nav-link ms-3 my-1"
																href="1de1_pt-br.html#aula1-section-1">Apresentação da
																aula</a> </li>
														<li> <a class="nav-link ms-3 my-1"
																href="1de1_pt-br.html#aula1-section-2">Transição da
																matriz energética</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="1de1_pt-br.html#aula1-section-3">Contexto
																histórico</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="1de1_pt-br.html#aula1-section-4">Matriz
																energética</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="1de1_pt-br.html#aula1-section-5">Aspectos
																políticos e econômicos</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="1de1_pt-br.html#aula1-section-6">Programas de
																incentivo à transição energética</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="1de1_pt-br.html#aula1-section-7">Praticando</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="1de1_pt-br.html#aula1-section-8">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>

											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="1de2_pt-br.html#capa">Tecnologias
														emergentes e economia circular</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="1de2_pt-br.html#aula2-section-1">Apresentação da
																aula</a> </li>
														<li><a class="nav-link ms-3 my-1"
																href="1de2_pt-br.html#aula2-section-2">Tecnologias
																emergentes</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="1de2_pt-br.html#aula2-section-3">Economia
																circular</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="1de2_pt-br.html#aula2-section-4">Cadeia
																de
																valor</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="1de2_pt-br.html#aula2-section-5">Reaproveitamento
																de resíduos</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="1de2_pt-br.html#aula2-section-6">Praticando</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="1de2_pt-br.html#aula2-section-7">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>

											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="1de3_pt-br.html#capa">Gases do efeito
														estufa e recursos naturais</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="1de3_pt-br.html#aula3-section-1">Apresentação da
																aula</a> </li>
														<li><a class="nav-link ms-3 my-1"
																href="1de3_pt-br.html#aula3-section-2">Efeito
																estufa e
																estratégias de redução de gases</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="1de3_pt-br.html#aula3-section-3">Impactos da
																produção de energia utilizando recursos naturais</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="1de3_pt-br.html#aula3-section-4">Vantagens do agro
																nacional</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="1de3_pt-br.html#aula3-section-5">O uso
																do solo e a
																competição entre a produção de alimentos e
																biocombustíveis</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="1de3_pt-br.html#outroId">Vantagens de
																culturas alternativas na geração de biomassa e óleos
																vegetais</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="1de3_pt-br.html#aula3-section-7">Impactos
																ambientais relacionados à produção e ao uso de
																biocombustíveis</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="1de3_pt-br.html#aula3-section-8">Praticando</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="1de3_pt-br.html#aula3-section-9">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>

										</div>
									</div>
								</li>
								<!-- 2 -->
								<li>
									<a class="nav-link uk-accordion-title">
										<i class="bi bi-pin-fill"></i>
										Módulo 2
									</a>
									<div class="uk-accordion-content">
										<div class="nav nav-pills flex-column">
											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="2de1_pt-br.html#capa">Biomassa
														lignocelulósica
													</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="2de1_pt-br.html#2-aula1-section-1">Apresentação da
																aula</a> </li>
														<li> <a class="nav-link ms-3 my-1"
																href="2de1_pt-br.html#2-aula1-section-2">Biomassa
																lignocelulósica: agrícolas e florestais</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="2de1_pt-br.html#2-aula1-section-3">Características
																químicas e físicas</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="2de1_pt-br.html#2-aula1-section-4">Pré-tratamentos</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="2de1_pt-br.html#2-aula1-section-5">Aplicações e
																perspectivas</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="2de1_pt-br.html#2-aula1-section-6">Praticando</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de1_pt-br.html#2-aula1-section-7">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>

											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="2de2_pt-br.html#capa">Biomassa
														residual orgânica</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-1">Apresentação da
																aula</a> </li>
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-2">Biomassa
																residual
																orgânica</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-3">Características
																físico-químicas do resíduo orgânico urbano</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-4">Principais
																fontes
																de resíduos orgânicos urbanos</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-5">Efluentes
																domésticos × efluentes industriais (resíduos
																orgânicos)</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-6">Resíduos
																agrícolas</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-7">Aplicações de
																biomassa residual orgânica</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-8">Uso
																de biomassa
																residual orgânica na produção de biocombustíveis</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-9">Benefícios
																ambientais para o uso de biomassa residual orgânica</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-10">Perspectivas
																futuras para desenvolvimento e utilização de biomassa
																residual orgânica</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-11">Praticando</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="2de2_pt-br.html#2-aula2-section-12">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>

											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="2de3_pt-br.html#capa">Biomassa
														aquática</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="2de3_pt-br.html#2-aula3-section-1">Apresentação da
																aula</a> </li>
														<li><a class="nav-link ms-3 my-1"
																href="2de3_pt-br.html#2-aula3-section-2">Biomassa
																aquática: macro e
																microalgas</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de3_pt-br.html#2-aula3-section-3">Características
																químicas e
																físicas</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de3_pt-br.html#2-aula3-section-4">Características
																das
																microalgas</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de3_pt-br.html#2-aula3-section-5">Características
																das
																macroalgas</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de3_pt-br.html#2-outroId">Características de
																cultivo</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="2de3_pt-br.html#2-aula3-section-7">Pré-tratamentos</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="2de3_pt-br.html#2-aula3-section-8">Aplicações e
																perspectivas</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de3_pt-br.html#2-aula3-section-9">Praticando</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="2de3_pt-br.html#2-aula3-section-10">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>
										</div>
									</div>
								</li>
								<!-- 3 -->
								<li>
									<a class="nav-link uk-accordion-title">
										<i class="bi bi-pin-fill"></i>
										Módulo 3
									</a>
									<div class="uk-accordion-content">
										<div class="nav nav-pills flex-column">
											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="3de1_pt-br.html#capa">Diferenças
														entre o etanol de diferentes gerações
													</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-1">Apresentação da
																aula</a> </li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-2">Diferenças
																entre as gerações de etanol</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-3">Processo de
																fabricação das gerações de etanol</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-4">Etanol de
																primeira geração</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-5">Etanol de
																segunda geração</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-6">Etanol de
																terceira geração</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-7">Potencial do
																etanol em relação aos combustíveis fósseis</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-8">Avanços
																tecnológicos na produção de etanol</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-9">Organismos e
																microrganismos geneticamente modificados (OGM)</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-10">Purificadores</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-11">Praticando</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de1_pt-br.html#3-aula1-section-12">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>
											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="3de2_pt-br.html#capa">Biogás e
														biometano
													</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="3de2_pt-br.html#3-aula2-section-1">Apresentação da
																aula</a> </li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de2_pt-br.html#3-aula2-section-2">Introdução</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de2_pt-br.html#3-aula2-section-3">Biogás</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de2_pt-br.html#3-aula2-section-4">Características
																químicas e físicas</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de2_pt-br.html#3-aula2-section-5">Biometano</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de2_pt-br.html#3-aula2-section-6">Características
																químicas e físicas</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de2_pt-br.html#3-aula2-section-7">Aplicações e
																perspectivas</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de2_pt-br.html#3-aula2-section-8">Praticando</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de2_pt-br.html#3-aula2-section-9">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>
											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="3de3_pt-br.html#capa">Biodiesel e
														combustível sustentável de aviação (SAF)
													</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-1">Apresentação da
																aula</a> </li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-2">O que é
																biodiesel e o que é SAF?</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-3">Características
																do processo de produção do biodiesel</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-4">Transesterificação</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-5">Esterificação</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-6">Hidrogenação</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-7">Craqueamento</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-8">Síntese de
																Fischer-Tropsch</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-9">Processo de
																produção do diesel verde (HVO)</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-10">Hidrotratamento
																(HEFA)</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-11">Síntese de
																Fischer-Tropsch (gaseificação + FT)</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-12">Oligomerização
																de álcoois (ATJ)</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-13">Processo de
																produção de SAF (sustainable aviation fuel) – bioquerose
																de aviação</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-14">HEFA
																(hydroprocessed esters and fatty acids)</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-15">ATJ (alcool to
																jet)</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-16">Aplicações de
																biodiesel e SAF em modais no Brasil</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-17">Perspectivas
																para o desenvolvimento e utilização de biodiesel e
																SAF</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-18">Praticando</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de3_pt-br.html#3-aula3-section-19">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>
											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="3de4_pt-br.html#capa">4io-hidrogênio
													</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="3de4_pt-br.html#3-aula4-section-1">Apresentação da
																aula</a> </li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de4_pt-br.html#3-aula4-section-2">Introdução</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de4_pt-br.html#3-aula4-section-3">Bio-hidrogênio</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de4_pt-br.html#3-aula4-section-4">Características
																químicas e físicas</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de4_pt-br.html#3-aula4-section-5">Processos de
																obtenção de bio-hidrogênio</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de4_pt-br.html#3-aula4-section-6">Aplicações e
																perspectivas</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de4_pt-br.html#3-aula4-section-7">Principais
																desafios no contexto do bio-hidrogênio</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="3de4_pt-br.html#3-aula4-section-8">Praticando</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="3de4_pt-br.html#3-aula4-section-9">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>
										</div>
									</div>
								</li>
								<!-- 4 -->
								<li class="uk-open">
									<a class="nav-link uk-accordion-title">
										<i class="bi bi-pin-fill"></i>
										Módulo 4
									</a>
									<div class="uk-accordion-content">
										<div class="nav nav-pills flex-column">
											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="4de1_pt-br.html#capa">Poder
														calorífico e rendimento</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="4de1_pt-br.html#4-aula1-section-1">Apresentação da
																aula</a> </li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de1_pt-br.html#4-aula1-section-2">O que é poder
																calorífico?</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de1_pt-br.html#4-aula1-section-3">Principais
																biocombustíveis e seu poder calorífico</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de1_pt-br.html#4-aula1-section-4">Balanço
																energético de biocombustíveis (produção X uso de
																energia)</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de1_pt-br.html#4-aula1-section-5">Rendimento
																energético de biocombustíveis</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de1_pt-br.html#4-aula1-section-6">Praticando</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="4de1_pt-br.html#4-aula1-section-7">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>
											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="4de2_pt-br.html#4apa">
														Viabilidade econômica
													</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="4de2_pt-br.html#4-aula2-section-1">Apresentação da
																aula</a> </li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de2_pt-br.html#4-aula2-section-2">Introdução</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de2_pt-br.html#4-aula2-section-3">Principais
																custos de produção</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de2_pt-br.html#4-aula2-section-4">Comparação com
																combustíveis fósseis</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de2_pt-br.html#4-aula2-section-5">Efeitos dos
																subsídios governamentais</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de2_pt-br.html#4-aula2-section-6">Praticando</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="4de2_pt-br.html#4-aula2-section-7">Recapitulando</a>
														</li>
													</ul>
												</div>
											</ul>
											<ul class="icons-list">
												<li class="nav">
													<a class="nav-link my-1" href="4de3_pt-br.html#4apa">Descarbonização
														e inovação na geração de energia</a>
												</li>
												<div class="nav">
													<ul class="icons-list">
														<li><a class="nav-link ms-3 my-1"
																href="4de3_pt-br.html#4-aula3-section-1">Apresentação da
																aula</a> </li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de3_pt-br.html#4-aula3-section-2">O que é
																descarbonização?</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de3_pt-br.html#4-aula3-section-3">Tecnologias e
																inovações recentes na produção de biocombustíveis e sua
																contribuição para a descarbonização do setor
																energético</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de3_pt-br.html#4-aula3-section-4">Casos de
																sucesso</a>
														</li>
														<li> <a class="nav-link ms-3 my-1"
																href="4de3_pt-br.html#4-aula3-section-5">Praticando</a>
														</li>
														<li><a class="nav-link ms-3 my-1"
																href="4de3_pt-br.html#4-aula3-section-6">Recapitulando</a>
														</li>
														<li> <a class="nav-link my-1"
																href="4de3_pt-br.html#4-aula3-section6">Referências e
																Créditos</a>
														</li>
													</ul>
												</div>
											</ul>
										</div>
									</div>
								</li>
							</div>
						</nav>
					</nav>
				</div>
			</div>
		</nav>
	</header>
	<main class=" pt-4" data-bs-spy="scroll" data-bs-target="#navbar-menu" data-bs-offset="0">
		<!-- Capa -->
		<div id="capa"
			class="d-flex py-4 min-vh-100 flex-column justify-content-center uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex"
			style="background-image: url('./../Template/img/capa_aula4_1.jpeg');">
			<div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
				<div class="row mt-2">
					<h1 class=" text-uppercase bg-light rounded text-black"
						uk-parallax="opacity: 1; y: -0,0; scale: 1.1,2; end: 0vh + 10%;">
						Poder calorífico e rendimento
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="row position-absolute" style="bottom: 10%
        ; left: 49.2%; transform: translateX(-50%)">
					<div class="py-4 col-lg-1 mx-auto">
						<div class="mouse"></div>
					</div>
				</div>
			</div>
		</div>
		<section class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex"
			style="background: linear-gradient(90deg, var(--color1), var(--color2));background-size: 400% 400%; animation: gradient 25s ease infinite;height:auto">
			<br>
		</section>
		<section class="d-flex py-4 min-vh-100 flex-column justify-content-center" id="4-aula1-section-1">
			<article class="container">
				<div class="row">
					<div class="align-self-start ">
						<div class="section-level1">
							<h1>Apresentação da aula</h1>
						</div>
					</div>
					<p>Nesta aula, vamos aprender a importância do poder calorífico para avaliar a eficiência do
						combustível, com base em seus potenciais de fornecer energia.</p>
				</div>
			</article>
		</section>

		<!-- lorem -->
		<section class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex"
			style="background: linear-gradient(90deg, var(--color1), var(--color2));background-size: 400% 400%;        animation: gradient 25s ease infinite;height:auto">
			<br>
		</section>
		<!-- lorem -->

		<section class="d-flex min-vh-100 flex-column justify-content-center" id="4-aula1-section-2">
			<article class="container py-4">
				<div class="align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2 py-4 ">
					<div class="section-level1">
						<h1>
							O que é poder calorífico?
						</h1>
					</div>
				</div>
				<div class="row">
					<p>O poder calorífico é a unidade de medida usada para determinar a quantidade de energia liberada
						durante a queima de uma substância.</p>
					<p>Podemos dizer, então, que é quantidade de calor gerada pela combustão completa de uma unidade de
						massa ou volume de uma substância expressa em J/kg, kcal/L. </p>
					<p>Essa é uma medida importante para avaliar o potencial energético de diferentes materiais, como
						combustíveis, alimentos e biomassa.</p>
					<p>Esse processo acontece conforme a representação gráfica a seguir.</p>

					<div class="col-lg-6 py-4 mx-auto">
						<a data-fancybox="zoom" data-src="../Aula/img/mod4/aula1/img1.png" data-caption="">
							<img src="../Aula/img/mod4/aula1/img1.png" class="img-fluid rounded"
								alt="Gráfico de uma reação exotérmica, em que o eixo vertical representa a energia e o eixo horizontal representa a direção da reação. O gráfico é uma curva que começa alta com a energia dos reagentes, sobe até um pico (representando a energia de ativação), depois desce significativamente, terminando em um ponto mais baixo com a energia dos produtos.Gráfico de uma reação exotérmica, em que o eixo vertical representa a energia e o eixo horizontal representa a direção da reação. O gráfico é uma curva que começa alta com a energia dos reagentes, sobe até um pico (representando a energia de ativação), depois desce significativamente, terminando em um ponto mais baixo com a energia dos produtos.">
						</a>
					</div>

					<p>Conhecer o poder calorífico de uma substância é fundamental em um processo de geração de energia
						para estimarmos ou determinarmos a eficiência energética de um processo de queima.</p>
					<p>Por exemplo, engenheiros e operadores de usinas podem estimar a quantidade de energia gerada a
						partir de um combustível e garantir a máxima eficiência na conversão de energia química em
						energia térmica.</p>
					<p>Em um processo exotérmico, que culmina na liberação de calor, o que conhecemos como &Delta;H
						(entalpia) precisa ter um valor abaixo de 0, e seu cálculo pode ser representado do modo a
						seguir.</p>

					<!-- box destaque -->
					<div class="col-lg-10 py-4 mx-auto">
						<div class="box">
							<h3>&Delta;H = Hprodutos – Hreagentes</h3>
						</div>
					</div>

					<p>Dessa forma, é comum encontrar reações exotérmicas representadas por Δ<sub>H</sub> &lt; 0.</p>

					<div class="col-lg-6 py-4 mx-auto">
						<a data-fancybox="zoom" data-src="../Aula/img/mod4/aula1/img2.png" data-caption="">
							<img src="../Aula/img/mod4/aula1/img2.png" class="img-fluid rounded" alt="">
						</a>
					</div>

					<p>Um combustível com alto poder calorífico tende a produzir mais energia, tornando-se mais
						eficiente, produzindo menos resíduos e reduzindo emissões quando queimado em presença de
						quantidades adequadas de oxigênio, o que reduz a poluição atmosférica e os impactos ambientais.
						Por isso, é necessário fazer uma análise dos combustíveis.</p>
				</div>
			</article>
		</section>
		<section class="d-flex py-4 flex-column justify-content-center" id="4-aula1-section-3">
			<article class="container py-4">
				<div class="align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2 py-4 ">
					<div class="section-level1">
						<h1>
							Principais biocombustíveis e seu poder calorífico
						</h1>
					</div>
				</div>
				<div class="row">
					<p>Já aprendemos que o poder calorífico está ligado diretamente à geração de energia. Agora, vamos
						saber mais sobre os combustíveis envolvidos na geração de energia partindo do calor.</p>
					<p>Para compreendermos melhor esse aspecto energético, vamos conferir a quantidade de energia gerada
						pelos principais biocombustíveis usados hoje, comparando-os ao seu equivalente de matriz fóssil,
						no quadro a seguir.</p>
				</div>
				<div class="row container">
					<div class="table-responsive">
						<table class="table table-bordered table-striped">
							<thead class="thead-dark">
								<tr>
									<th>Combustível (matriz fóssil)</th>
									<th>Poder calorífico</th>
									<th>Biocombustível</th>
									<th>Poder calorífico</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Etanol</td>
									<td>26-30 MJ/kg</td>
									<td>Bioetanol (1G e 2G)</td>
									<td>26-30 MJ/kg</td>
								</tr>
								<tr>
									<td>Diesel</td>
									<td>42,5-45 MJ/kg</td>
									<td>
										Biodiesel<br>
										HVO (Hydrotreated vegetable oil)
									</td>
									<td>
										35-38 MJ/kg<br>
										42-44 MJ/kg
									</td>
								</tr>
								<tr>
									<td>Querosene (Jet A) (Aviação)</td>
									<td>42,8-43,3 MJ/kg</td>
									<td>
										BTL (Biomass-to-liquid)<br>
										SAF (Sustainable aviation fuel)
									</td>
									<td>
										42-45 MJ/kg<br>
										35-42 MJ/kg
									</td>
								</tr>
								<tr>
									<td>Gás natural</td>
									<td>35-45 MJ/m³</td>
									<td>
										Biogás<br>
										Biometano
									</td>
									<td>
										20-24 MJ/m³<br>
										35-40 MJ/m³
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row">
					<p>Analisando o quadro, podemos concluir que a energia liberada pela queima dos biocombustíveis
						é equivalente ao valor obtido pela queima dos combustíveis obtidos de matriz fóssil.</p>
					<p>Normalmente, o que acaba por inviabilizar o uso dos biocombustíveis ainda é seu custo
						produtivo, que em alguns casos chega a ser o triplo do valor dos combustíveis produzidos a
						partir de matriz fóssil.</p>
				</div>
			</article>
		</section>
		<section class="d-flex py-4 min-vh-100 flex-column justify-content-center" id="4-aula1-section-4">
			<article class="container py-4">
				<div class="align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2 py-4 ">
					<div class="section-level1">
						<h1>
							Balanço energético de biocombustíveis (produção X uso de energia)
						</h1>
					</div>
				</div>

				<div class="row">
					<p>Para realizar um balanço energético de um processo produtivo de biocombustível, é necessário
						considerar todas as entradas e saídas de energia ao longo do ciclo de vida do biocombustível,
						desde a produção da matéria-prima até o uso final como combustível.</p>

					<p>Precisamos conhecer a quantidade de energia consumida durante o processo de produção do
						biocombustível, quantificar a quantidade de energia produzida em forma de biocombustível e,
						dessa forma, comparar a quantidade total de energia consumida com a quantidade total de energia
						produzida (incluindo subprodutos ou resíduos que possam ser aproveitados para geração de
						energia) para determinar o balanço energético líquido do biocombustível produzido.</p>
				</div>
				<div class="row d-flex gap-2">
					<div class="col-md-4 py-4">
						<a data-fancybox="zoom" data-src="../Aula/img/mod4/aula1/img3.png" data-caption="">
							<img src="../Aula/img/mod4/aula1/img3.png" class="img-fluid rounded" alt="">
						</a>
					</div>
					<div class="col-md-7">
						<h3>Exemplo: produção de etanol </h3>
						<p>O etanol de segunda geração apresenta um balanço energético mais favorável em comparação ao
							etanol de primeira geração, já que este é produzido a partir de culturas alimentares. </p>
					</div>
				</div>
				<div class="row">
					<p>Os valores específicos do balanço energético do etanol de segunda geração variam dependendo das
						condições locais, das tecnologias empregadas e dos processos utilizados para produção. </p>
					<p>De acordo com informações da Embrapa (2010), “o etanol de cana-de-açúcar produzido no Brasil é o
						biocombustível de melhor balanço energético do mundo”. </p>
					<p>Para cada unidade de energia fóssil, ou seja, derivada do petróleo empregada, o etanol armazena
						9,3 unidades. </p>
					<p>Conheça mais em: <a class="link"
							href="https://www.embrapa.br/busca-de-noticias/-/noticia/18127677/embrapa-agroenergia-apresenta-balanco-energetico-do-etanolcelulosico#:~:text=De%20acordo%20com%20Cabral%2C%20o,etanol%20armazena%209%2C3%20unidades. "
							target="_blank" rel="noopener noreferrer">link</a>.</p>
				</div>
			</article>
		</section>
		<section class="d-flex py-4 min-vh-100 flex-column justify-content-center" id="4-aula1-section-5">
			<article class="container py-4">
				<div class="align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2 py-4 ">
					<div class="section-level1">
						<h1>
							Rendimento energético de biocombustíveis
						</h1>
					</div>
				</div>

				<div class="row">
					<p>O rendimento energético é como podemos demonstrar a eficiência com que uma determinada fonte de
						energia é convertida em energia utilizável ou útil para uma finalidade específica, ou seja, é
						como medimos a relação entre a quantidade de energia produzida ou obtida a partir de um processo
						ou sistema em relação à quantidade de energia investida ou consumida para realizá-lo.</p>
					<p>Em um sistema no qual estamos fazendo uma conversão de energia, como é o caso dos motores a
						combustão, o rendimento pode ser calculado como a proporção entre a energia útil gerada e a
						energia total consumida. </p>

					<div class="col-lg-6 py-4 mx-auto">
						<a data-fancybox="zoom" data-src="../Aula/img/mod4/aula1/img4.jpeg" data-caption="">
							<img src="../Aula/img/mod4/aula1/img4.jpeg" class="img-fluid rounded" alt="">
						</a>
					</div>

					<p><em>Clique em play no vídeo a seguir para entender mais sobre o rendimento de biocombustíveis em
							relação a outras fontes de energia.</em></p>

					<div class="col-lg-8 mx-auto">
						<div class="ratio ratio-16x9 ">
							<iframe class="rounded"
								src="https://play.sesisenai.videolib.live/index.html?token=13646ef8bb2544c4ab9d893f856e5c69"
								title="Apresentação" allowfullscreen uk-video=" autoplay:false;">
							</iframe>
						</div>
					</div>

					<p>O rendimento energético pode ser medido por meio da relação entre as unidades de energia
						produzidas para cada unidade de energia investida para produzir. </p>

					<p>Para os principais biocombustíveis, temos os dados a seguir.</p>
					<div class="container my-5">
						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead class="thead-dark">
									<tr>
										<th>Biocombustível</th>
										<th>Rendimento<br>(unidades de energia produzidas para cada unidade de energia
											investida)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Etanol de primeira geração</td>
										<td>1,3 a 2,5</td>
									</tr>
									<tr>
										<td>Etanol de segunda geração</td>
										<td>2,0 a 3,5</td>
									</tr>
									<tr>
										<td>Biodiesel</td>
										<td>2,5 a 3,5</td>
									</tr>
									<tr>
										<td>Biogás</td>
										<td>5,0 a 10</td>
									</tr>
									<tr>
										<td>HVO</td>
										<td>3,0 a 5,0</td>
									</tr>
									<tr>
										<td>SAF</td>
										<td>*Estimativa</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<p class="mt-3">*Por estimativa, conclui-se que o rendimento energético do biocombustível SAF pode
						ser comparado ao do querosene de aviação JET A, porém o valor por unidade depende de outros
						fatores, o que não permite fixar um valor.</p>
					<p>Os valores descritos no quadro anterior são baseados em estimativas e podem variar de acordo com
						fatores que normalmente estão associados ao tipo de matéria-prima, aos processos produtivos e às
						tecnologias utilizadas no processo produtivo.</p>
				</div>

			</article>
		</section>
		<section class="d-flex min-vh-100 flex-column justify-content-center exercicios py-3" id="4-aula1-section-6">
			<article class="container py-4">
				<div class="border rounded">
					<h1 class="p-4">Praticando</h1>
					<div class="row"></div>
				</div>
			</article>
		</section>
		<hr class="uk-divider-icon">
		<!-- Recapitulando -->
		<section class="d-flex flex-column justify-content-center" id="4-aula1-section-7">
			<article class="container py-4">
				<div class="align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2 py-4 ">
					<div class="section-level1">
						<h2>Recapitulando</h2>
					</div>
				</div>
				<div class="row">
					<p>Nesta aula, você aprendeu a importância do poder calorífico e do balanço energético ao avaliar a
						eficiência energética dos combustíveis e biocombustíveis.</p>
				</div>

			</article>
		</section>
		<!-- lorem -->
		<hr class="uk-divider-icon">
		<section class="pb-4" id="11">
			<article class="container pb-4">
				<div class="pb-4" id="content">
					<div class="row" id="progresso">
						<div class="col-lg-4 uk-text-center ">
							<div class="legenda" style="font-size: 1rem;">Progresso do curso
							</div>
							<div class="copyright">
								<div class="progress-circle"></div>
								<span id="progressoGeral" class="fonte-plus"></span> <span class="text-color1">%</span>
							</div>
						</div>
						<div class="col-lg-4 uk-text-center ">
							<div class="legenda" style="font-size: 1rem;">Respostas corretas
							</div>
							<div class="copyright">

								<span id="exerciciosCorretos" class="fonte-plus"></span><span
									class="text-color1">%</span>
							</div>
						</div>
						<div class="col-lg-4 uk-text-center ">
							<div class="legenda" style="font-size: 1rem;">Exercícios
								concluídos</div>
							<div class="copyright">
								<span id="exerciciosRealizados" class="fonte-plus"></span>
								<span id="totalExercicios">/</span>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
	<footer class="border-top fixed-bottom bg-menu-color">
		<div class="progress_section">
			<div class="progress_bar_wrap">
				<div class="progress_bar"></div>
			</div>
			<div class="progress_num"> </div>
		</div>
		<div class="d-flex justify-content-evenly align-items-center justify-content-center">
			<div class="col-sm-12 d-flex justify-content-center">
				<div class="d-flex justify-content-evenly align-items-center">
					<div class="col-sm-2 d-flex justify-content-end">
						<a href="3de4_pt-br.html" aria-label="Próximo" title="Próximo">
							<i class='bx mt-3 bx-fade-left-hover bxs-left-arrow-circle bx-md copyright px-3'></i>
						</a>
					</div>
					<div class="col-sm-8 d-flex justify-content-center ">
						<p class="mx-auto mt-4 ">© SENAI <span id="year"></span></p>
					</div>
					<div class="col-sm-2 d-flex justify-content-start">
						<a href="4de2_pt-br.html" aria-label="Próximo" title="Próximo">
							<i class='bx mt-3 bx-fade-riht-hover bxs-right-arrow-circle bx-md copyright px-3'></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body><!-- SCORM -->
<script src="../Template/js/acoes.js"></script>
<script type="text/javascript" src="../Template/js/blocos_pt-br-t2k.js"></script>
<script type="text/javascript" src="../Template/js/blocos_pt-br.js"></script>
<script type="text/javascript" src="../Template/js/exercicios_pt-br.js"></script><!-- CONFIGURAÇÕES -->
<script src='../Template/js/chart-plugin.js'></script>
<script src="../Template/js/configuracoes.js"></script>
<script src="../Template/js/main.js"></script>
<script src="../Template/bibliotecas/youtube/js/youtube-chapters.min.js"></script>
<script src="../Template/bibliotecas/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../Template/bibliotecas/fancybox/fancybox.umd.js"></script>
<script src="../Aula/js/aula-1/graficos.js"></script>
<script src="../Aula/js/aula-1/youtube.js"></script>
<script>  Fancybox.bind('[data-fancybox="zoom"]', {});</script>
<script>  window.addEventListener('load', () => { const date = new Date(); document.querySelector('#year').textContent = `${date.getFullYear()}` })</script>
<script>
	var intro = introJs();
	intro.setOptions({

		'skipLabel': '<i class="bi bi-x-lg"></i>',
		tooltipClass: 'customTooltip',
		showProgress: true,
		dontShowAgain: true,
		hidePrev: true,
		hideNext: false,
		exitOnEsc: true,
		showStepNumbers: true,
		showBullets: false,
		steps: [

			{
				element: document.querySelector('.cor1'),
				intro: '<p>Menu - Hieraquia - (texto descritivo)</p>',
			},

			{
				element: document.querySelector('.switch-darkmode'),
				intro: '<p>Modo Escuro - (texto descritivo)</p>'
			},

			{
				element: document.querySelector('.vlibras-show'),
				intro: '<p>Aqui voceê pode encontar o V-Libras - (texto descritivo)'
			},

			{
				element: document.querySelector('#Acessibilidade'),
				intro: '<img src="img/template/acessibilidade.png" alt="Acessibilidade">',
			},
		]

	}).start();
</script>

</html>