.theme-1 {  
  /*================================*/
  /*Cores do Piv
    /*================================*/

  --color1: #007072;
  --color2: #7FC52E;
  --color3: #0080B4;
  --color-menu:#0080B4 ;
  --link: #00aeff;
  --i-menu: #d1d1d1;
  --progress-bar: #ffffff;
  /*================================*/
  /*Texto
    /*================================*/

  --text-menu: #e9e9e9;
  --text1: #2c2c2c;
  --text2: #191919;
  --text3: #b3b3b3;
  --text-white: #e9e9e9;
  --text-black: #2c2c2c;
  /*================================*/
  /*Boxes
    /*================================*/

    --box: #aeaeae;
  --importante: #e9222c;
  --saibamais: #08da4e;
  --vcsabia: #b50edf;
  --dica: #f68c09;
  --pdf: #353535;
  /*================================*/
  /*Fundo
    /*================================*/
    
  --bg-primary: #fff;
  --bg-secundary: #4f4f4f;
  --bg-terciary: #111111;
  /*================================*/
  /*Imagem filter
    /*================================*/
  --img: hue-rotate(0deg);
  --opacity: rgba(233, 233, 233, 0.867);
  --shadow: rgba(44, 44, 44, 0.9);
  --select-shadow: rgba(116, 212, 143, 0.25);
  /*================================*/
}

.theme-2 {
  /*================================*/
  /*Cores do Piv
    /*================================*/
    --color3: #00C4AF;
    --color2: #90ECE8;
    --color1: #007072;
    --color-menu:#00C4AF ;
    --link: #00C4AF;
    --i-menu: #d1d1d1;
    --progress-bar: #ffffff;
  /*================================*/
  /*Texto
    /*================================*/
    --text-menu: #e9e9e9;
    --text1: #ffffff;
    --text2: #e2e2e2;
    --text3: #636363;
    --text-white: #e9e9e9;
    --text-black: #2c2c2c;
  /*================================*/
  /*Fundo
    /*================================*/
    
    --bg-primary: #262626;
    --bg-secundary: #4f4f4f;
    --bg-terciary: #e9e9e9;
  /*================================*/
  /*Boxes
    /*================================*/
  --box: #aeaeae;
  --importante: #e9222c;
  --saibamais: #08da4e;
  --vcsabia: #b50edf;
  --dica: #f68c09;
  --pdf: #e9e9e9;
  /*================================*/
  --opacity: rgba(44, 44, 44, 0.7);
  --shadow: rgba(233, 233, 233, 0.9);
  --select-shadow: rgba(0, 105, 57, 0.25);
}

.theme-3 {
  --font: 1.5rem;
  --font-titulo1: 1.75rem !important;
  --font-titulo2: 2rem;
  --font-titulo3: 2.25rem;
  --font-titulo4: 2.5rem;
  --font-titulo5: 2.75rem;
  filter: grayscale(100%) !important;
  --box: grayscale(100%) !important;
  --importante: grayscale(100%) !important;
  --saibamais: grayscale(100%) !important;
  --vcsabia: grayscale(100%) !important;
  --dica: grayscale(100%) !important;
  --pdf: grayscale(100%) !important;
  --link: #2682ae;
}

.theme-4 {
  --font: 1.5rem;
  --font-titulo1: 1.75rem !important;
  --font-titulo2: 2rem;
  --font-titulo3: 2.25rem;
  --font-titulo4: 2.5rem;
  --font-titulo5: 2.75rem;
  filter: hue-rotate(90deg);
  --box: hue-rotate(90deg);
  --importante: hue-rotate(90deg);
  --saibamais: hue-rotate(90deg);
  --vcsabia: hue-rotate(90deg);
  --dica: hue-rotate(90deg);
  --pdf: hue-rotate(90deg);
  --link: #2682ae;
}

/*tag*/

p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
label,
th,
td,
tr,
figcaption,
legend,
span,
footer,
a {
  color: var(--text1) !important;
}

.btn,
.card-body,
.accordion-body,
.accordion-header,
.accordion-item,
.accordion,
.bd-example,
.accordion-button,
.card-header,
.footer,
.figcaption,
.form-text,
.text-dark,
.figure-caption,
.table-dark,
.table-primary,
.table-secondary,
.table-success,
.table-danger,
.table-warning,
.table-info,
.table-light,
.table-danger,
.form-select{
  color: var(--text2);
  background-color: var(--bg-secondary) !important;
  font-size: var(--bs-body-font-size) !important;
}

.offcanvas-body {
  color: var(--text3);
  background-color: var(--bg-primary) !important;
  font-size: var(--bs-body-font-size) !important;
}

.card,
.input-group-text,
.form-control-lg,
.form-control,
.list-group-flush,
.list-group,
.list-group-item,
.card-footer {
  background-color: var(--bg-primary) !important;
  color: var(--text1) !important;
  border-color: var(--text1);
}

.card-title,
.card-subtitle,
.blockquote {
  font: var(--bs-body-font-size) !important;
}

.card-subtitle {
  color: var(--color3) !important;
}


body {
  background-color: var(--bg-primary) !important;
}

/* Botão */
.btn-primary {
  background-color: var(--color3) !important;
  color: var(--text1) !important;
  transition: 0s;
}

.btn-primary:hover {
  background-color: var(--color2) !important;
}

.dropdown-menu,
.dropdown-item,
.menu-text {
  color: var(--text1) !important;
  border: 2px solid var(--color3);
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
}

.display-1 {
  font-size: 60px !important;
}

.list-group-item {
  color: var(--text1);
  background-color: var(--bg-secundary);
}

img,
video,
iframe {
  filter: var(--img);
  transition: filter 500ms linear;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(var(--text1));
  background-color: var(var(--color3)) !important;
}

.card-background {
  color: var(--text-black) !important;
}

.comment {
  color: var(--text-menu);
}

.white-text {
  color: var(--text-white) !important;
}

.destaque {
  color: var(--link) !important;
}

.destaque-menu {
  color: var(--color3) !important;
}

.bg-menu-color{
  background-color: var(--color-menu);
}